extends /templates/default

include /includes/chart

block main
    .me
        header
            i.fa-solid.fa-user-astronaut
            span Обо мне

        .facts
            each fact in facts
                .fact(class= fact.id)
                    .label= fact.label
                    .data!= fact.data
        
        .about!= about

        .social
            each sItem in social
                a.socialItem(href= sItem.link, target="_blank")
                    i.fa-fw(class= sItem.icon)
                    div= sItem.label
    
    .life
        header
            i.fa-solid.fa-heart
            span Жизнь
        
        .progressBlock
            .progress
                - let agePercent = age * 100 / maxAge;
                - let tickStep = 10
                - let tickAmount = Math.floor(maxAge / tickStep);
                
                - let tickI = 0;
                .ticks
                    while tickI <= tickAmount
                        .tick(style= `left: ${(tickI * tickStep * 100) / maxAge}%`)
                            .rect
                            .value= tickI * tickStep
                        - tickI++;

                .bar
                    div(style= `width: ${agePercent}%`)

                .currentTick(style= `left: ${agePercent}%`)
                    .value= age
                    .rect

        if (years)
            .years
                each year in years
                    a.year(href= `/life/${year}`)= year

    .countersBlock
        header
            i.fa-solid.fa-gauge-simple
            span Статистика
        .counters
            each counter in counters
                .counter(class= counter.counterId, title= counter.title)
                    i.fa-fw(class= counter.icon)
                    span= counter.value

    if (tagChart)
        +tagChart(tagChart)