extends /templates/default

include /includes/icon

block main

    .search
        .main
            i.searchIcon.fa-solid.fa-magnifying-glass
            input(placeholder="Название проекта...", autofocus)
            i.filterBtn.fa-solid.fa-tags(title="Теги")
        .filter
            .emptyFilter Выберите теги...
        .tags
            .tagTypeList
                .tagType(data-type="area", data-toggled)
                    i.fa-fw.fa-solid.fa-signs-post
                    span Область
                .tagType(data-type="action")
                    i.fa-fw.fa-solid.fa-hand-fist
                    span Действие
                .tagType(data-type="form")
                    i.fa-fw.fa-solid.fa-vector-square
                    span Форма
                .tagType(data-type="other")
                    i.fa-fw.fa-solid.fa-ellipsis
                    span Остальные

            .tagTypePanes
                each tagType in ['area', 'action', 'form']
                    .tagTypePane(data-type= tagType, data-toggled= (tagType === 'area' ? '' : null))
                        .tags
                            each tag in tagMap[tagType]
                                .tag(data-id= tag.id, title= tag.desc)= tag.id

                if (tagMap['other'])
                    .tagTypePane(data-type="other")
                        .categories
                            .list
                                each tagCategory in tagMap['other']
                                    .category(data-cat-id= tagCategory.id)
                                        .title= tagCategory.title
                        
                        each tagCategory in tagMap['other']
                            .categoryPane(data-cat-id= tagCategory.id)
                                header
                                    i.fa-solid.fa-arrow-left(title="Закрыть категорию")
                                    span= tagCategory.title
                                .tagsHolder
                                    .tags
                                        each tag in tagCategory.tags
                                            .tag(data-id= tag.id, title= tag.desc)= tag.id

    script.
        var INITIAL_END = #{isInitialEnd};

    .searchFailed
        i.fa-regular.fa-face-sad-cry
        .label Ничего не найдено!

    .searchResults
        each project in initialList
            - let link = '/projects/' + project.id;
            .searchResult
                a.icon(href= link)
                    +icon(project.icon)
                
                .infoBlock
                    .arrows
                        .bgArrow
                        .borderArrow

                    .statusBg(class= `status--${project.status}`)

                    if (project.featured)
                        .featured(class= `status--${project.status}`)
                            i.fa-solid.fa-star
                            .hover(title="Важный проект")

                    header
                        a.icon(href= link)
                            +icon(project.icon)
                        a.title(href= link)= project.title

                    .desc= project.desc

                    footer
                        img.type(title= project.type.label, src= project.type.icon)
                        if (project.tags)
                            i.fa-solid.fa-hashtag
                            each tag in project.tags
                                .tag= tag

    .searching
        img(src="/site/graphics/searching.svg")
        .label Поиск проектов...