extends /templates/default

block main

    .search
        .main
            i.searchIcon.fa-solid.fa-magnifying-glass
            input(placeholder="Название проекта...", autofocus)
            i.filterBtn.fa-solid.fa-tags(title="Теги")
        .filter
            .emptyFilter Выберите теги...
        .tags
            .tagTypes
                .tagType(data-type="area", data-toggled)
                    i.fa-fw.fa-solid.fa-signs-post
                    span Область
                .tagType(data-type="action")
                    i.fa-fw.fa-solid.fa-hand-fist
                    span Действие
                .tagType(data-type="form")
                    i.fa-fw.fa-solid.fa-vector-square
                    span Форма
                .tagType(data-type="other")
                    i.fa-fw.fa-solid.fa-ellipsis
                    span Остальные

            .tagLists
                each tagType in Object.keys(tagMap)
                    .tagList(data-type= tagType, data-toggled= (tagType === 'area' ? '' : null))
                        each tag in tagMap[tagType]
                            .tag(data-id= tag.id, title= tag.desc)= tag.id

    script.
        var INITIAL_END = #{isInitialEnd};

    .searchFailed
        i.fa-regular.fa-face-sad-cry
        .label Ничего не найдено!

    .searchResults
        each project in initialList
            - let link = '/projects/' + project.id;
            - let icon = '/projects/' + project.id + '/icon.' + project.iconExt;

            .searchResult
                a.icon(href= link)
                    img(src= icon, loading="lazy")
                
                .infoBlock
                    .arrows
                        .bgArrow
                        .borderArrow

                    .statusBg(class= `status--${project.status}`)

                    header
                        a.icon(href= link)
                            img(src= icon, loading="lazy")
                        a.title(href= link)= project.title

                    .desc= project.desc

                    footer
                        img.type(title= project.type.label, src= project.type.icon)
                        if (project.tags)
                            i.fa-solid.fa-hashtag
                            each tag in project.tags
                                .tag= tag

    .searching
        img(src="/site/graphics/searching.svg")
        .label Поиск проектов...