extends /templates/default

include /includes/icon
include /includes/chart
include /includes/timeline

mixin mainTag(icon, label, tag)
    i.fa-fw(class= icon)
    .label= label
    .value(title= tag.desc)= tag.getTitle()

block main

    //-
    //- Основная информация
    //-

    .mainBlock

        header
            .icon:  +icon(icon)
            .title= title
            .desc=  desc

            if (featured)
                .featured(class= `status--${status}`)
                    i.fa-solid.fa-star
                    .hover(title="Важный проект")

        if (facts || action)
            .mainBar
                .facts
                    if (facts)
                        each fact in facts
                            .fact(class= fact.id)
                                .label= fact.label
                                .data!= fact.data
                if (action)
                    if (Array.isArray(action.colors))
                        style.
                            .actionBtn > .bg { background: linear-gradient(45deg, #{action.colors.join(',')}); }
                    .actionContainer
                        a.actionBtn(href= action.link, target="_blank")
                            .bg(class= !Array.isArray(action.colors) ? action.colors : null)
                            .label
                                if (action.icon)
                                    i(class= action.icon)
                                span= action.text
        
        if (main)
            .mainContent!= main

        if (links)
            .links
                each link, i in links
                    a.link(href= link.link, target="_blank")
                        i.fa-fw(class= link.icon)
                        div= link.text

    //-
    //- Тип и теги проета
    //-

    .direction

        header
            img.type(src= type.icon, title= type.label)

            if (tags)
                .mainTags
                    if (tags.area)
                        .area
                            +mainTag("fa-solid fa-signs-post", "Область", tags.area)
                    if (tags.action)
                        .action
                            +mainTag("fa-solid fa-hand-fist", "Действие", tags.action)
                    if (tags.form)
                        .form
                            +mainTag("fa-solid fa-vector-square", "Форма", tags.form)
                
        if (tags && tags.other)
            .tags
                each tag in tags.other
                    .tag(title= tag.desc, class= tag.old ? 'old' : '')= tag.id

    //-
    //- Цели и даты
    //-

    if (dateData || goalData.total)
        .goalDateData
            header
                .goalChart(title= !goalData.total ? 'Целей нет' : null )
                    .total!= goalData.chart.total || '<i class="fa-solid fa-xmark"></i>'
                    .inner
                    .fracs(style= `background: conic-gradient( ${ goalData.chart.fracs.map(frac => `var(--c_goalChart-${frac.status}) ${frac.start}% ${frac.end}%`).join(',') } )`)
                        each sep in goalData.chart.separators
                            .sep(style= `transform: rotateZ(${sep}deg)`)

                .data
                    if (goalData.statusCounters && goalData.statusCounters.length > 1)
                        .goalCount
                            i.fa-solid.fa-crosshairs.fa-fw
                            .label Цели
                            .value
                                each counter in goalData.statusCounters
                                    div(class= counter.status, title= counter.tooltip)= counter.count

                    if (dateData)
                        if (dateData.single)
                            .date
                                i.fa-solid.fa-calendar-day.fa-fw
                                .label Дата
                                .value= dateData.start
                        else
                            if (dateData.start)
                                .start
                                    i.fa-solid.fa-plus.fa-fw
                                    .label Начало
                                    .value= dateData.start

                            if (dateData.end)
                                .end
                                    i.fa-solid.fa-flag-checkered.fa-fw
                                    .label Конец
                                    .value= dateData.end

            if (goalData.total)
                .goals
                    each goal in goalData.goals
                        .goal(class= 'goal--' + goal.status)
                            .num= goal.orderNum
                            .info
                                .title= goal.title
                                .facts
                                    if (goal.start || goal.end)
                                        .date
                                            if (goal.single)
                                                i.fa-solid.fa-calendar-day
                                                span= goal.start
                                            else
                                                i.fa-solid.fa-calendar-days
                                                span= goal.start + ' – ' + (goal.end ? goal.end : '?')
                                        
                                    if (goal.time)
                                        .time(title="Затрачено времени на цель")
                                            i.fa-solid.fa-clock
                                            span= goal.time

                                    if (goal.checks)
                                        .checks(title="Дни, когда эта цель была отмечена")
                                            i.fa-solid.fa-calendar-check
                                            span= goal.checks

                                if (goal.progress)
                                    .progress
                                        .label(title= `Прогресс (${goal.progress.width.toFixed(2)}%)`)= goal.progress.label 
                                        .bar
                                            div(style= `width: ${goal.progress.width}%`)

    //-
    //- Хронокарта
    //-

    if (timeline)
        +timeline(timeline)

    //-
    //- Распределение времени
    //-

    if (tagChart)
        +tagChart(tagChart)

    //-
    //- Связанные проекты
    //-

    if (related)
        .related
            header
                i.fa-solid.fa-code-compare
                span Связанные проекты
            each rProject in related
                .relatedProject
                    a.icon(href= "/projects/" + rProject.id)
                        +icon(rProject.icon)
                    .title: a(href= "/projects/" + rProject.id)= rProject.title
                    .reason= rProject.reason

    //-
    //- Блоки подробностей
    //-

    if (blocks)
        .blocks
            .groupSepTop

            each block in blocks
                .block
                    header
                        .info
                            if (block.scope)
                                .scope= block.scope
                            .title= block.title
                        .showBtn(title="Раскрыть подробности")
                            i.fa-solid.fa-eye
                    .contentContainer
                        .content!= block.content

            .groupSepBottom