extends /templates/default

include /includes/chart
include /includes/timeline

block main
    .yearResults(class= !results ? 'noResults' : '')
        header= year + ' год'

        if (results)
            .results
                each result in results
                    .result
                        if (result.type === 'project')
                            a.icon(href= result.link): img(src= result.icon)
                            .title: a(href= result.link)= result.title
                        else
                            .icon: i.fa-fw(class= result.icon)
                            .title= result.title

                        .desc= result.desc

    if (counters)
        .counters
            header
                each counter, i in counters
                    .counter(class= `counter--${counter.counterId}`, title= counter.title, data-toggled= i === 0)
                        i(class= counter.icon)
                        span= counter.value
        
            .counterTitle= counters[0].title

            .details
                each counterPane, i in counterData
                    - let counterId = counters[i].counterId;
                    .counterPane(class= `counterPane--${counterId}`, class= { 'counterPane--default': !['goal', 'event'].includes(counterId) }, data-toggled= i === 0)
                        each counterItem in counterPane
                            .counterItem

                                case counterId
                                    when 'goal'
                                        .project
                                            .count= '+' + counterItem.goals.length
                                            a.icon(href= "/projects/" + counterItem.project)
                                                img(src= counterItem.icon)
                                            a.title(href= "/projects/" + counterItem.project)= counterItem.title
                                            .eyeContainer
                                                i.fa-fw.fa-solid.fa-eye
                                        
                                        .goals
                                            each goal in counterItem.goals
                                                .goal
                                                    .pointer ●
                                                    .info
                                                        .title= goal.title
                                                        if (goal.progress)
                                                            .progress
                                                                .label= goal.progress.label
                                                                .bar: div(style= `width: ${goal.progress.width}%`)
                                                        .date= goal.date

                                    when 'event'
                                        .title= counterItem.title
                                        .date= counterItem.date
                                        .desc= counterItem.desc

                                    default
                                        .count= counterItem.count
                                        
                                        if (counterItem.project)
                                            a.icon(href= counterItem.link)
                                                img(src= counterItem.icon)

                                        a.title(href= counterItem.link)= counterItem.title
                                        .date= counterItem.date
            
    if (timeline)
        +timeline(timeline)

    if (tagChart)
        +tagChart(tagChart)